<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.blustor.identity">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="co.blustor.identity.activities.AboutActivity" />
        <activity
            android:name="co.blustor.identity.activities.CreateActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="co.blustor.identity.activities.AddEntryActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="co.blustor.identity.activities.AddGroupActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name="co.blustor.identity.activities.ChooseActivity" />
        <activity android:name="co.blustor.identity.activities.CloseActivity" />
        <activity android:name="co.blustor.identity.activities.EditEntryActivity" />
        <activity
            android:name="co.blustor.identity.activities.EditGroupActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name="co.blustor.identity.activities.GroupActivity" />
        <activity android:name="co.blustor.identity.activities.IconPickerActivity" />
        <activity android:name="co.blustor.identity.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="co.blustor.identity.activities.PasswordGeneratorActivity" />
        <activity android:name="co.blustor.identity.activities.SettingsActivity" />
        <activity android:name="co.blustor.identity.activities.SplashActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="co.blustor.identity.activities.UnlockActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <receiver
            android:name="co.blustor.identity.receivers.AppBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="co.blustor.pwv.lock_database" />
            </intent-filter>
        </receiver>

        <service
            android:name="co.blustor.identity.services.NotificationService"
            android:exported="false" />

    </application>
</manifest>